<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template.html">
<link rel="stylesheet" type="text/css"
      href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
    <meta charset="utf-8">
    <title>Liste des Catégories</title>
</head>
<body>
<div layout:fragment="Mycontent">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Liste des Catégories
                <form method="post" action="filterCat" style="display: flex;align-items: center">
                    <input type="text" name="nom">
                    <input type="submit" value="Go">
                </form>


            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th><th>Nom Produit</th><th>Prix</th>
                    </tr>
                    <tr th:each="c:${cats.content}">
                        <td th:text="${c.idCat}"></td>
                        <td th:text="${c.nomCat}"></td>
                        <td th:text="${c.descriptionCat}"></td>
                        <td><a class="btn btn-danger" th:href="@{supprimerCat(id=${c.idCat},
page=${currentPage},size=${size})}" onclick="return confirm('Etes-vous sûr ?')">Supprimer</a></td>
                        <td><a class="btn btn-success" th:href="@{modifierCat(id=${c.idCat},
page=${currentPage},size=${size})}">editer</a></td>
                    </tr>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
                           th:href="@{ ListeCategorie(page=${status.index}, size=${size} ) }"
                           th:text="${status.index }"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>